{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-3">
        <h1>Ajouter une option</h1>

       {{form_start(form)}}

       {{ form_row(form.name, {'label': "Nom de l'option"}) }}

       <button type="submit" class="btn btn-primary">Ajouter</button>
       
       {{form_end(form)}}


      
    </div>

{% endblock %}